    <div class="col-md-8">        
        <h1>{{articlesPageHeading}}</h1>
        
        <h3>{{codeProjectArticlesHeading}}</h3>
        
        <div>
            <p><a ng-href="{{winformsMVPArticleUrl}}">WinForms MVP - An MVP Framework for WinForms</a></p>
            <p><a ng-href="{{encryptionPGPArticleUrl}}">Claims-Based Authentication and Authorization</a></p>
            <p><a ng-href="{{winformsMVPArticleUrl}}">PGP Encryption with C#</a></p>
        </div>
        
        <h3>{{blogArticlesHeading}}</h3>
        
        <div>
            <p><a ng-href="{{jsLastValuePost}}">The Javascript Last Value Problem</a></p>
            <p><a ng-href="{{jqueryUiDatePickerPost}}">jQuery Ui DatePicker with ASP.NET MVC</a></p>
            <p><a ng-href="{{homeBackupPost}}">Robocopy Powershell Script for Home Back-up</a></p>
            <p><a ng-href="{{findAndReplacePost}}">Find and Replace with Powershell</a></p>
        </div>
        
    </div>
    <div class="col-md-4">

    </div>
