    <div class="col-md-8">        
        <h1>{{contactTitle}}</h1>
        
        <h3>{{socialMediaTitle}}</h3>
        
        <p><i class="fa fa-google-plus-square smallIcons" ng-click="goToGooglePlus()"><span class="noShadow contacts">&nbsp;The Goog</span></i></p>
        <p><i class="fa fa-linkedin-square smallIcons" ng-click="goToLinkedIn()"><span class="noShadow contacts">&nbsp;LinkedIn, all together now ...</span></i></p>
        <p><i class="fa fa-facebook-square smallIcons">&nbsp;<span id="nullFacebook" ng-mouseover="nullFacebook()" class="socialnull noShadow contacts" title="{{daveNoFaceBookMsg}}" style="color: #1608d6">&nbsp;null</span></i></p>
        <p><i class="fa fa-twitter-square smallIcons">&nbsp;<span id="nullTwitter" ng-mouseover="nullTwitter()" class="socialnull noShadow contacts" title="{{daveNoTwitterMsg}}" style="color: #1608d6">&nbsp;null</span></i></p>
        
        <h3>{{traditionalTitle}}</h3>
        
        <p><a id="email" ng-href="{{emailAddress}}" target="_top"><i class="fa fa-envelope smallIcons"><span class="noShadow contacts">&nbsp;email me</span></i></a></p>
        

    </div>
    <div class="col-md-4">

    </div>
