<section id="projectsViewHeading">
    <div class="col-md-12">        
        <h1>{{projectsTitle}}</h1>
    </div>
</section>
<section id="projects">
    <div class="col-md-12">        
        <h3>{{winFormsMVPTitle}}</h3>
    </div>
    <div class="col-md-8">        
        <p><a ng-href="{{winFormsMVPSitePath}}">WinFormsMVP</a> is simple Model View Presenter framework for the WinForms platform. Surprisingly, there is a paucity of separation frameworks for the WinForms platform. And whilst the Win32 runtime hangs around, the WinForms platform is still a very viable option for developing desktop applications. This is why I developed  WinFormsMVP.
        <p>It is based on the excellent <a ng-href="{{webformsMVPSite}}">Web Forms MVP</a>, a fantastic MVP framework for the WebForms platform developed by Tatham Oddie and Damian Edwards.
        <p>Last year I was deployed on a maintenance gig with lots of small WinForms apps which comprised a larger system. None of the existing apps followed any kind of best practice. It was all code-behind, with business logic mixed in with the View. A light-weight MVP framework would have been perfect for these small apps. This gave me the impetus which mobilised me to create one.
        <p>I have written a <a ng-href="{{winfomsMVPArticle}}">codeproject article</a> which sets out the basics for using the framework. In addition to that, the source code contains a couple of sample applications which includes examples of the framework in action. 
    </div>
    <div class="col-md-4">
        <img ng-src="{{winFormsMVPLogoPath}}" alt="WinFormsMVPLogo" class="pictureBoxForLogo img-responsive" />
    </div>
</section>