<section id="projectsViewHeading">
    <div class="col-md-12">        
        <h1>{{projectsTitle}}</h1>
    </div>
</section>
<section id="projects">
    <div class="col-md-12">        
        <h3>{{winFormsMVPTitle}}</h3>
    </div>
    <div class="col-md-8">        
        <p>
            A simple Model View Presenter framework for the WinForms platform.

        <p>
            Based on the excellent <a ng-href="{{webformsMVPSite}}">Web Forms MVP</a>, WinForms MVP is a simple Model View Presenter framework for
            the Winforms platform. I have written a <a ng-href="{{winfomsMVPArticle}}">codeproject article</a> which sets out the basics for using the framework.
        <p>
            Last year I was deployed on a maintenance gig with lots of small WinForms apps which comprised a larger system. None of the existing apps followed any kind of best practice. It was all code-behind, with business logic mixed in with the View.

        <p>
            A light weight MVP framework would have been perfect for these small apps.

    </div>
    <div class="col-md-4">
        <img ng-src="{{winFormsMVPLogoPath}}" alt="WinFormsMVPLogo" class="pictureBoxForLogo" />
    </div>
</section>