<div class="jumbotron jumbotronBackGrnd">
    <h1>davidrogers.id.au</h1>
    <p class="lead">Developer, Dog Owner, Human.
    <h6>This SPA was built using Angularjs <a ng-href="{{angularjsUrl}}"><img src="@Url.Content("~/Content/Images/AngularJS-small.png")" /></a></h6>
    <p><a ng-href="{{blogUrl}}" class="btn btn-success btn-large">Go to blog &raquo;</a></p>
</div>

<div class="row viewContent">
    <div class="view-animate-container">
        <div ng-view class="view-animate"></div>
    </div>
</div>